{% extends 'MotoDinamicApp/base.html'%}

{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}

{% block latnav %}
<h3>Motos</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="{% url 'motos' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Motos
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'modelim_moto' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Editar Motos
    </li>
  </a>
</div>
{%endblock%}

{% block content%}
<div class="content">
  <h1>Motos </h1>
  {% if n %}
    <script>alert('Ya existe una moto con esa placa')</script>
  {% endif %}
  <div class="lista-inputs">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
  </div>
  <div>
    <button name="guardar" type="submit" class="button"> GUARDAR </button>
  </div>
  </form>
</div>
{%endblock%}