{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/CRUD.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Eliminar.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}

{% block latnav %}
<h3>Motos</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="{% url 'motos' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Motos
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'modelim_moto' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Editar Motos
    </li>
  </a>
</div>
{%endblock%}

{% block content%}
<div class="content">
  <h1>Motos</h1>
  <div class="container">
    <p>¿Seguro que desea eliminar esta moto?</p>
    <div class="card">
      <div class="imageCard">
        <img src='{% static "MotoDinamicApp/images/moto.jpg" %}' alt="producto" />
      </div>
      <div class="infoCard">
        <h2> {{miMoto.placa}}</h2>
        <p class="info"> Color: {{miMoto.color}} </p>
        <p class="info"> Marca: {{miMoto.marca}} </p>
        <p class="type">  {{miMoto.modelo}} </p>
      </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="botones">
            <div class="boton">
                <a href="{% url 'modelim_moto' %}"><div class="button" style="border: none;"> CANCELAR </div></a>
            </div>
            <div class="boton">
                <button name="guardar" type="submit" class="button" style="background-color: RED;"> ELIMINAR </button>
            </div>
        </div>
    </form>
  </div>
</div>
{%endblock%}