{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/CRUD.css" %}'>
<script type="text/javascript" src='{% static "MotoDinamicApp/scripts/shoppingCart.js" %}'></script>
{%endblock%}

{% block latnav %}
<h3>Facturación</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="{% url 'facturacion_p' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Productos
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'facturacion_s' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Servicios
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'modelim_moto' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Consultar facturas
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'modelim_moto' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Facturas de hoy
    </li>
  </a>
</div>
{%endblock%}

{% block content%}
<div class="content">
  <a class="cart" href="{% url 'carrito' %}"><i class="fas fa-solid fa-cart-plus"></i><div><span id="card">{{total_items}}</span></div>
  </a>
  <h1>Productos</h1>
  <div class="list">
    {%for myProduct in products%}
    <div>
    <div class="card">
      <div class="imageCard">
        <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
      </div>
      <div class="infoCard">
        <h2> {{myProduct.nombre}} <span>#{{myProduct.id}}</span></h2>
        <p class="info"> Unidades: {{myProduct.stock}} </p>
        <p class="info"> Precio: ${{myProduct.precio | intcomma}} </p>
        <p class="type"> {{myProduct.idTipoProducto.nombre}} </p>
      </div>
      <a href="{% url 'añadir_producto' myProduct.id %}"><i class="addk fas fa-solid fa-plus"></i></a>
    </div>
    </div>
    {%endfor%}
  </div>
  <div class="searchDiv">
    <form action="{% url 'facturacion_p' %}" method="POST">
      {% csrf_token %}
      <span style="display: block;">Código</span>
      <div class="searchinput">
        <input type="text" name='productId' id="search">
        <div class="lupa">
          <button class="btn" type="submit">Buscar</button>
        </div>
      </div>
      {%if product%}
        <div style="margin-top: 30px;" class="card">
          <div class="imageCard">
          <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
          </div>
          <div class="infoCard">
           <h2> {{product.nombre}} <span>#{{product.id}}</span></h2>
           <p class="info"> Unidades: {{product.stock}} </p>
           <p class="info"> Precio: ${{product.precio | intcomma}} </p>
           <p class="type"> {{product.idTipoProducto.nombre}} </p>
          </div>
          <a href="{% url 'añadir_producto' product.id %}"><i class="addk fas fa-solid fa-plus"></i></a>
        </div>
      {%endif%}
    </form>
  </div>
</div>
{%endblock%}