{% extends 'MotoDinamicApp/base.html'%}

{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}

{% block latnav %}
<h3>Clientes</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="{% url 'clientes' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Clientes
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'modelim_cliente' %}">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Editar clientes
    </li>
  </a>
</div>
{%endblock%}

{% block content%}
<div class="content">
  <h1>Clientes </h1>
  <div class="lista-inputs">
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
  </div>
  <div>
    <button name="guardar" type="submit" class="button"> GUARDAR </button>
  </div>
  </form>
</div>
{%endblock%}