{% extends 'MotoDinamicApp/base.html'%}

{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}


{% block contenido%}
<div class="productos">
  <h1>Servicios </h1>
  <div class="lista-inputs" style="height: 510px;">
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
  </div>
  <div class="boton">
    <button name="guardar" type="submit" class="button"> GUARDAR </button>
  </div>
  </form>
</div>
{%endblock%}