{% extends 'MotoDinamicApp/base.html'%}

{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}

{% block latnav %}
<h3>Motos</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="/motos">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Motos
    </li>
  </a>
  <a class="nav-links-lat" href="/editarmoto">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Eliminar o modificar Motos
    </li>
  </a>
</div>
{%endblock%}

{% block contenido%}
<div class="productos">
  <h1>Motos </h1>
  <div class="lista-inputs" style="height: 510px;">
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
  </div>
  <div class="boton">
    <button name="guardar" type="submit" class="button"> GUARDAR </button>
  </div>
  </form>
</div>
{%endblock%}