{% extends 'MotoDinamicApp/base.html'%}

{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Agregar.css" %}'>
{%endblock%}

{% block latnav %}
<h3>Clientes</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="/clientes">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-plus"></i>
      Agregar clientes
    </li>
  </a>
  <a class="nav-links-lat" href="/editarcliente">
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Eliminar o modificar clientes
    </li>
  </a>
</div>
{%endblock%}

{% block contenido%}
<div class="productos">
  <h1>Clientes </h1>
  <div class="lista-inputs">
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
  </div>
  <div class="boton">
    <button name="guardar" type="submit" class="button"> GUARDAR </button>
  </div>
  </form>
</div>
{%endblock%}

<!--
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Moto Dinamic</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='{% static "MotoDinamicApp/styles/AgregarProductos.css" %}'>
    <script src="https://kit.fontawesome.com/f71bc73b9e.js"></script>
  </head>
  <body>
    <div>
        <nav class="NavbarItems">
            <ul class="nav-menu">
              <li>
                <a href="/productos" class="nav-links">
                  Productos & Servicios
                </a>
              </li>
              <li>
                <a href="/Clientes" class="nav-links">
                  Clientes
                </a>
              </li>
              <li>
                <a href="/Motos" class="nav-links">
                  Motos
                </a>
              </li>
              <li>
                <a href="/Ordenes" class="nav-links">
                  Órdenes de ingreso
                </a>
              </li>
            </ul>
            <div>
                <a href="/">
                    <img class="logo" src='{% static "MotoDinamicApp/images/logo-01.png" %}' />
                </a>
            </div>
            <li class="signout">
                <a id="signout" href="/SingIn" class="nav-links">
                  <li class="icono fas fa-sign-out-alt"></li>
                  SIGN OUT
                </a>
            </li>
        </nav>

        <div class="contenedor">
          <div class="latnav">
            <h3>Productos & Servicios</h3>
            <div class="navbarlat">
              <a class="nav-links-lat" href="/productos">
                <li class="nav">
                    <i class="nav-icon fas fa-solid fa-plus"></i>
                    Agregar productos
                </li>
              </a>
              <a class="nav-links-lat" href="/EdiOElimP">             
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar productos
                </li>
              </a>
              <a class="nav-links-lat" href="/Servicios">           
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-plus"></i>
                  Agregar servicios
                </li>
              </a>
              <a class="nav-links-lat" href="/EdiOElimS">          
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar servicios
                </li>
              </a>
            </div>
          </div>
          <div class="productos">
            <h1>Productos </h1>
            <div class="lista-inputs">
            <form action="{% url 'insertar_producto' %}" method="POST">
              {% csrf_token %}
              {{form}}
            </div>
            <div class="boton">
              <button name="guardar" type="submit" class="button"> GUARDAR </button>
            </div>
            </form>
        </div>
        <br>
        </div>
  </body>
</html>
-->