{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Moto Dinamic</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Navbar.css" %}'>
    {%block style%}
    {%endblock%}
    <script src="https://kit.fontawesome.com/f71bc73b9e.js"></script>
  </head>
  <body>
        <nav class="NavbarItems">
            <ul class="nav-menu">
              <li>
                <a href="/productos" class="nav-links">
                  Productos & Servicios
                </a>
              </li>
              <li>
                <a href="/Clientes" class="nav-links">
                  Clientes
                </a>
              </li>
              <li>
                <a href="/Motos" class="nav-links">
                  Motos
                </a>
              </li>
              <li>
                <a href="/Ordenes" class="nav-links">
                  Órdenes de ingreso
                </a>
              </li>
            </ul>
            <div>
                <a href="/productos">
                    <img class="logo" src='{% static "MotoDinamicApp/images/logo-01.png" %}' />
                </a>
            </div>
            <ul class="nav-menu">
              <li>
                <a href="/facturacion" class="nav-links">
                  Facturación
                </a>
              </li>
              <li>
                <a href="{% url 'registrar_usuario'%}" class="nav-links">
                  Usuarios
                </a>
              </li>
            </ul>
            <li class="signout">
                <a id="signout" href="{% url 'logout'%}" class="nav-links">
                  <li class="icono fas fa-sign-out-alt"></li>
                  SALIR
                </a>
            </li>
        </nav>
        <div class="contenedor">
          <div class="latnav">
            {% block latnav%}
            <h3>Productos & Servicios</h3>
            <div class="navbarlat">
              <a class="nav-links-lat" href="/productos">
                <li class="nav">
                    <i class="nav-icon fas fa-solid fa-plus"></i>
                    Productos
                </li>
              </a>
              <a class="nav-links-lat" href="/editarproducto">             
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar productos
                </li>
              </a>
              <a class="nav-links-lat" href="/servicios">           
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-plus"></i>
                  Servicios
                </li>
              </a>
              <a class="nav-links-lat" href="/editarservicio">          
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar servicios
                </li>
              </a>
            </div>
            {%endblock%}
          </div>
          {%block contenido%}
          {%endblock%}
        </div>
        <div class="footer">
          <div class="footer-content">
            <div class="footer-section foto">
              <img src='{% static "MotoDinamicApp/images/logo-02.png" %}' class="logo-footer"/>
            </div>
            <div class="footer-bottom">
              &copy; MOTODINAMIC 2022
            </div>
            <div class="footer-section contactar">
              <div class="texto">
                50 #17-50 Sur, Bogotá D.C
                </br>
                +57 3205398442
                </br>
                motodinamic@mail.com
              </div>
            </div>
          </div>
        </div>
  </body>
</html>