{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Productos.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Eliminar.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/AgregarProductos.css" %}'>
{%endblock%}

{% block contenido%}
<div class="productos">
  <h1>Servicios <a style="margin-left: 15px;" href="/crearproducto"><i class="add fas fa-solid fa-plus"></i></a></h1>
  <div class="container">
    <p>¿Seguro que desea eliminar el siguiente servicio?</p>
    <div class="productCard">
      <div class="imageCard">
        <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
      </div>
      <div class="infoCard">
        <h2> {{servicio.nombre}} <span>#{{servicio.id}}</span></h2>
        <p class="info"> Unidades: {{servicio.stock}} </p>
        <p class="info"> Precio: ${{servicio.precio | intcomma}} </p>
        <p class="type"> {{servicio.idTipoServicio.nombre}} </p>
      </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="botones">
            <div class="boton">
                <a href="/editarservicio"><div class="button" style="border: none;"> CANCELAR </div></a>
            </div>
            <div class="boton">
                <button name="guardar" type="submit" class="button" style="background-color: RED;"> ELIMINAR </button>
            </div>
        </div>
    </form>
  </div>
</div>
{%endblock%}