{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Moto Dinamic</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='{% static "CSS/Navbar.css" %}'>
    <script src="https://kit.fontawesome.com/f71bc73b9e.js"></script>
  </head>
  <body>
    <div>
        <nav class="NavbarItems">
            <ul class="nav-menu">
              <li>
                <a href="/Productos&Servicios" class="nav-links">
                  Productos & Servicios
                </a>
              </li>
              <li>
                <a href="/Clientes" class="nav-links">
                  Clientes
                </a>
              </li>
              <li>
                <a href="/Motos" class="nav-links">
                  Motos
                </a>
              </li>
              <li>
                <a href="/Ordenes" class="nav-links">
                  Órdenes de ingreso
                </a>
              </li>
            </ul>
            <div>
                <a href="/">
                    <img class="logo" src='{% static "images/logo-01.png" %}' />
                </a>
            </div>
            <li class="signout">
                <a id="signout" href="/SingIn" class="nav-links">
                  <li class="icono fas fa-sign-out-alt"></li>
                  SIGN OUT
                </a>
            </li>
        </nav>
        <div class="contenedor">
          <div class="latnav">
            <h3>Productos & Servicios</h3>
            <div class="navbarlat">
              <a class="nav-links-lat" href="/Productos">
                <li class="nav">
                    <i class="nav-icon fas fa-solid fa-plus"></i>
                    Agregar productos
                </li>
              </a>
              <a class="nav-links-lat" href="/EdiOElimP">             
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar productos
                </li>
              </a>
              <a class="nav-links-lat" href="/Servicios">           
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-plus"></i>
                  Agregar servicios
                </li>
              </a>
              <a class="nav-links-lat" href="/EdiOElimS">          
                <li class="nav">
                  <i class="nav-icon fas fa-solid fa-pen"></i>
                  Eliminar o modificar servicios
                </li>
              </a>
            </div>
          </div>
          <div class="productos">
            <h1>Productos <i class="add fas fa-solid fa-plus"></i></h1>
            <div class="lista">
              <div class="productCard">
                <div class="imageCard">
                  <img src='{% static "images/casco.jpg" %}' alt="producto" />
                </div>
                <div class="infoCard">
                  <h2> Casco <span>#ID2031</span></h2>
                  <p class="info"> Unidades: 5 </p>
                  <p class="info"> Precio: $50.000 </p>
                  <p class="type"> Accesorio </p>
                </div>
              </div>
              <!--<div class="productCard">
                <div class="imageCard">
                  <img src="casco.jpg" alt="producto" />
                </div>
                <div class="infoCard">
                  <h2> Casco <span>#ID2031</span></h2>
                  <p class="info"> Unidades: 5 </p>
                  <p class="info"> Precio: $50.000 </p>
                  <p class="type"> Accesorio </p>
                </div>
              </div>
              <div class="productCard">
                <div class="imageCard">
                  <img src="casco.jpg" alt="producto" />
                </div>
                <div class="infoCard">
                  <h2> Casco <span>#ID2031</span></h2>
                  <p class="info"> Unidades: 5 </p>
                  <p class="info"> Precio: $50.000 </p>
                  <p class="type"> Accesorio </p>
                </div>
              </div>
              <div class="productCard">
                <div class="imageCard">
                  <img src="casco.jpg" alt="producto" />
                </div>
                <div class="infoCard">
                  <h2> Casco <span>#ID2031</span></h2>
                  <p class="info"> Unidades: 5 </p>
                  <p class="info"> Precio: $50.000 </p>
                  <p class="type"> Accesorio </p>
                </div>
              </div>-->
            </div>
            <div class="buscar">
              <form action="{% url 'productos' %}" method="POST">
                {% csrf_token %}
                <span style="display: block;">Código</span>
                <div class="searchinput">
                  <input type="text" name='productId' id="search">
                  <div class="lupa">
                    <!--<img id="search-icon" src='{% static "images/magnifying-glass-solid.svg" %}' alt="lupa" />-->
                    <button class="btn" type="submit">Buscar</button>
                  </div>
                </div>
                <div style="margin-top: 30px;" class="productCard">
                  <div class="imageCard">
                   <img src='{% static "images/casco.jpg" %}' alt="producto" />
                  </div>
                  <div class="infoCard">
                    <h2> {{product.nombre}} <span>#{{product.id}}</span></h2>
                    <p class="info"> Unidades: {{product.stock}} </p>
                    <p class="info"> Precio: ${{product.precio}} </p>
                    <p class="type"> {{product.idTipoProducto.nombre}} </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>