{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Productos.css" %}'>
{%endblock%}

{% block contenido%}
<div class="productos">
  <h1>Servicios <a style="margin-left: 15px;" href="/crearservicio"><i class="add fas fa-solid fa-plus"></i></a></h1>
  <div class="lista">
    {%for miServicio in servicios%}
    <div>
    <div class="productCard">
      <div class="imageCard">
        <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
      </div>
      <div class="infoCard">
        <h2> {{miServicio.nombre}} <span>#{{miServicio.id}}</span></h2>
        <p class="info"> Precio: ${{miServicio.precio | intcomma}} </p>
        <p class="type"> {{miServicio.idTipoServicio.nombre}} </p>
      </div>
    </div>
    {% block editelim %}
    {% endblock %}
    </div>
    {%endfor%}
  </div>
  <div class="buscar">
    <form action="{% url 'servicios' %}" method="POST">
      {% csrf_token %}
      <span style="display: block;">Código</span>
      <div class="searchinput">
        <input type="text" name='servicioId' id="search">
        {% block busqueda %}
        {% endblock %}
        <div class="lupa">
          <button class="btn" type="submit">Buscar</button>
        </div>
      </div>
      {%if servicio%}
        <div style="margin-top: 30px;" class="productCard">
          <div class="imageCard">
          <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
          </div>
          <div class="infoCard">
           <h2> {{servicio.nombre}} <span>#{{servicio.id}}</span></h2>
           <p class="info"> Precio: ${{servicio.precio | intcomma}} </p>
           <p class="type"> {{servicio.idTipoServicio.nombre}} </p>
          </div>
        </div>
        {% block editelim2 %}
        {% endblock %}
      {%endif%}
    </form>
  </div>
</div>
{%endblock%}