{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Productos.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/Eliminar.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/AgregarProductos.css" %}'>
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/CRUD.css" %}'>
{%endblock%}

{% block latnav%}
{% if user.is_superuser %}
<h3>Usuarios</h3>
<div class="navbarlat">
  <a class="nav-links-lat" href="{% url 'registrar_usuario' %}">
    <li class="nav">
        <i class="nav-icon fas fa-solid fa-plus"></i>
        Agregar usuario
    </li>
  </a>
  <a class="nav-links-lat" href="{% url 'buscar_usuario' %}">             
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Eliminar usuarios
    </li>
  </a>
  <a class="nav-links-lat" href="/admin">             
    <li class="nav">
      <i class="nav-icon fas fa-solid fa-pen"></i>
      Modo administrador
    </li>
  </a>
</div>
{% endif %}
{%endblock%}


{% block content%}
{% if user.is_superuser %}
<div class="productos">
  <h1>Usuarios</h1>
  <div class="container">
    <p>¿Seguro que desea eliminar el siguiente usuario?</p>
    <div class="productCard">
      <div class="imageCard">
        <img src='{% static "MotoDinamicApp/images/casco.jpg" %}' alt="producto" />
      </div>
      <div class="infoCard">
        <h2> {{usuario.username}} <span>#{{usuario.id}}</span></h2>
        <p class="info"> Nombre: {{usuario.first_name}} </p>
        <p class="info"> Apellido: {{usuario.last_name}} </p>
        <p class="type"> {{usuario.email}} </p>
      </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="botones">
            <div class="boton">
                <a href="/buscar_usuario"><div class="btn" style="border: none;"> CANCELAR </div></a>
            </div>
            <div class="boton">
                <button name="guardar" type="submit" class="btn" style="background-color: RED;"> ELIMINAR </button>
            </div>
        </div>
    </form>
  </div>
</div>
{% else %}
<div style="height:50px;">
  <h1 style="margin-left:50%; margin-top:200px;">Lo sentimos, necesitas permiso de administrado y lo sabes!</h1>
  </div>
{% endif %}
{%endblock%}