{% extends 'MotoDinamicApp/base.html'%}

{%load humanize%}
{%load static%}

{% block style%}
<link rel="stylesheet" href='{% static "MotoDinamicApp/styles/CRUD.css" %}'>
{%endblock%}

{% block content%}
<div class="content">
  <h1>Servicios <a style="margin-left: 15px;" href="{% url 'insertar_servicio' %}"><i class="add fas fa-solid fa-plus"></i></a></h1>
  <div class="list">
    {%for miServicio in servicios%}
    <div>
    <div class="card">
      <div class="imageCard">
        {% if miServicio.idTipoServicio.nombre == 'Limpieza'%}
        <img src='{% static "MotoDinamicApp/images/servicios/servicio-l.png" %}' alt="servicio" />
        {% else %}
        <img src='{% static "MotoDinamicApp/images/servicios/servicio-r.png" %}' alt="servicio" />
        {% endif %}
      </div>
      <div class="infoCard">
        <h2> {{miServicio.nombre}} <span>#{{miServicio.id}}</span></h2>
        <p class="info"> Precio: ${{miServicio.precio | intcomma}} </p>
        <p class="type"> {{miServicio.idTipoServicio.nombre}} </p>
      </div>
    </div>
    </div>
    {%endfor%}
  </div>
  <div class="searchDiv">
    <form action="{% url 'servicios' %}" method="POST">
      {% csrf_token %}
      <span style="display: block;">Código</span>
      <div class="searchinput">
        <input type="text" name='servicioId' id="search">
        <div class="lupa">
          <button class="btn" type="submit">Buscar</button>
        </div>
      </div>
      {%if servicio%}
        <div style="margin-top: 30px;" class="card">
          <div class="imageCard">
            {% if miServicio.idTipoServicio.nombre == 'Limpieza'%}
            <img src='{% static "MotoDinamicApp/images/servicios/servicio-l.png" %}' alt="servicio" />
            {% else %}
            <img src='{% static "MotoDinamicApp/images/servicios/servicio-r.png" %}' alt="servicio" />
            {% endif %}
          </div>
          <div class="infoCard">
           <h2> {{servicio.nombre}} <span>#{{servicio.id}}</span></h2>
           <p class="info"> Precio: ${{servicio.precio | intcomma}} </p>
           <p class="type"> {{servicio.idTipoServicio.nombre}} </p>
          </div>
        </div>
      {% elif n %}
        <h3>No se encontró un servicio con ese código</h3>
      {%endif%}
    </form>
  </div>
</div>
{%endblock%}